@import url("../plugins/bootstrap/css/bootstrap.min.css");
@import url("blog.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../plugins/slick/slick.css");

